$body-bg-color: #f4f4f4;

$header-bg-color: #31c27c;
$header-height: 44px;
$header-img-heiht: 25px;
$header-a-heiht: 28px;
$header-a-bg-color: #149c5a;
$header-a-font-size: 14px;
$header-a-color: #fff;


