* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1 {
  margin: 0; }

a {
  text-decoration: none; }

.mod_header {
  height: 44px;
  background-color: #31c27c;
  position: relative; }
  .mod_header h1 {
    display: none; }
  .mod_header #logo, .mod_header #download {
    height: 28px;
    line-height: 28px; }
  .mod_header #logo {
    float: left;
    margin: 9px 0 0 10px; }
  .mod_header #download {
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: #149c5a;
    padding: 0 12px;
    font-size: 14px;
    color: #fff;
    border-radius: 99px; }

.mod_nav {
  height: 40px;
  background-color: #aaa; }

.ui-slider {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .ui-slider .ui-slider-group {
    display: flex;
    transition: all .5s; }
    .ui-slider .ui-slider-group .ui-slider-item {
      display: flex; }
      .ui-slider .ui-slider-group .ui-slider-item > a {
        display: block; }
        .ui-slider .ui-slider-group .ui-slider-item > a img {
          width: 100%; }
  .ui-slider .ui-slider-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    text-align: center; }
    .ui-slider .ui-slider-dots > b {
      display: inline-block;
      margin: 0 4px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: rgba(144, 144, 144, 0.8); }
    .ui-slider .ui-slider-dots .ui-state-active {
      background-color: #fff; }

body {
  background-color: #f4f4f4; }
